<div class="row">



<%= form_for @pokemon do |f| %>
    <div class="form-group col-lg-4">
      <%= f.label :name %><br>
      <%= f.text_field :name, class:'form-control' %>

      <%= f.label :number %><br>
      <%= f.text_field :number, class:'form-control' %>

      <%= f.label :level %><br>
      <%= f.text_field :level, class:'form-control' %>

      <%= f.label :health_points %><br>
      <%= f.text_field :health_points, class:'form-control' %>

      <%= f.submit 'Ajouter', class:'btn btn-primary', style:'margin-top:20px;' %>
    </div>

<% end %>
</div>