<div class="row">
  <%= simple_form_for @pokemon do |f| %>
      <div class="form-group col-lg-4">
        <%= f.input :name, label:'Name', class:'form-control' %>

        <%= f.input :number, label:'Number', class:'form-control' %>

        <%= f.input :level, label:'Level', class:'form-control' %>

        <%= f.input :health_points, label:'health', class:'form-control' %>

        <%= f.association :type, label:'Type', class:'form-control' %>

        <%= f.association :moves, label:'Moves',
                                  as: :check_boxes,
                                  item_wrapper_tag: :label,
                                  item_wrapper_class: 'checkbox-inline'%>

        <%= f.submit 'Ajouter', class:'btn btn-primary', style:'margin-top:20px;' %>
      </div>
  <% end %>
</div>