<h1>Liste des pokemons</h1>

<% if @pokemons.any? %>
<table class="table">
	<thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Level</th>
    <th>Health</th>
    <th>Type</th>
    <th>Moves</th>
    <th>Actions</th>
  </tr>
  </thead>
	<tbody>
		<% @pokemons.each do |pokemon| %>
			<tr>
        <td><%= pokemon.number %></td>
				<td><%= pokemon.name %></td>
        <td><%= pokemon.level %></td>
        <td><%= pokemon.health_points %></td>
        <td>
          <%= render partial: 'types/type', locals: { type: pokemon.type} %>
        </td>
        <td>
          <%= render partial: 'moves/moves_list', locals: { moves: pokemon.moves} %>
        </td>
        <td>
          <%= link_to 'Afficher', pokemon, class: 'btn btn-primary' %>
          <%= link_to 'Editer', edit_pokemon_path(pokemon), class: 'btn btn-warning' %>
          <%= link_to 'Supprimer', pokemon,
                      method: :delete,
                      data: {
                          confirm: "Etes vous sur de vouloir supprimer ce Pokemon ?"
                      },
                      class: 'btn btn-danger'

          %>
        </td>
			</tr>
		<% end %>
	</tbody>
</table>

<% else %>
<p>Il n'y a pas de pokemons</p>
<% end %>
<p>
  <%= link_to 'Ajouter', new_pokemon_path, class: 'btn btn-primary' %>
</p>
<%= will_paginate @pokemons, renderer: BootstrapPagination::Rails %>

