<h1>Liste des pokemons</h1>

<% if @pokemons.any? %>
<table class="table">
	<thead>
  <tr>
    <th>#</th>
    <th>Name</th>
  </tr>
  </thead>
	<tbody>
		<% @pokemons.each do |pokemon| %>
			<tr>
        <td><%= pokemon.id %></td>
				<td><%= pokemon.name %></td>
        <td>
          <%= link_to 'Afficher', pokemon, class: 'btn btn-primary' %>
          <%= link_to 'Editer', edit_pokemon_path(pokemon), class: 'btn btn-warning' %>
          <%= link_to 'Supprimer', pokemon,
                      method: :delete,
                      data: {
                          confirm: "Etes vous sur de vouloir supprimer ce Pokemon ?"
                      },
                      class: 'btn btn-danger'

          %>
        </td>
			</tr>
		<% end %>
	</tbody>
</table>

<% else %>
<p>Il n'y a pas de pokemons</p>
<% end %>

<%= link_to 'Ajouter', new_pokemon_path, class: 'btn btn-primary' %>

